<div ><ul >
    <li>
      <img
        class="logo-login"
        src="https://minhavacina.recife.pe.gov.br/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2V6SFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d1c1ee34d0846b21597252ea55a13fdee615005b/logo-container.png?locale=pt-BR"
        alt="logo"
      />
    </li>
    <li><a routerLink="/app" >Inicio</a></li>
    <li><a routerLink="/app/vacinas">Vacina</a></li>
    <li><a routerLink="/app/lotes">Lote</a></li>
    <li><a routerLink="/app/registros">Registro</a></li>
    <li><a routerLink="/app/usuarios">Usuario</a></li>
    <li><a routerLink="/app/aplicadores">Aplicador</a></li>
    <li class="perfil" routerLink="/app/perfil">
      <fa-icon class="icon" [icon]="faUser"></fa-icon>
      Meu perfil
    </li>
  </ul></div>
  