<div class="principal">
  <h2>Cadastrar lote</h2>
  <div>
    <mat-form-field appearance="legacy" class="w-100">
      <mat-label>Número</mat-label>
      <input matInput placeholder="Número" #numero />
    </mat-form-field>

    <div class="w-100 d-flex justify-content-between mb-3">
      <mat-form-field appearance="legacy" class="min">
        <mat-label>Vacina</mat-label>
        <mat-select #vacina>
          <mat-option *ngFor="let el of vacinas" [value]="el.cod">{{el.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="min">
        <mat-label>Quantidade</mat-label>
        <input matInput placeholder="Quantidade" type="number" #quantidade />
      </mat-form-field>
    </div>

    <div class="w-100 d-flex justify-content-between mb-3">
      <mat-form-field appearance="legacy" class="min">
        <mat-label>Fabricação</mat-label>
        <input
          matInput
          placeholder="Data de fabricação"
          type="date"
          #date_fabricacao
        />
      </mat-form-field>
      <mat-form-field appearance="legacy" class="min">
        <mat-label>Fabricante</mat-label>
        <input matInput placeholder="Fabricante" #fabricante />
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <button
      mat-raised-button
      color="primary"
      class="buttonCancel"
      mat-dialog-close
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="adicionaLote(numero.value,vacina.value, quantidade.value, date_fabricacao.value, fabricante.value)"
    >
      Adicionar
    </button>
  </div>
</div>
