table {
    width: 100%;
    margin: auto;
}

.icon{
  font-size: 16px;
  margin-top: -6px;
  opacity: 70%;
  cursor: pointer;
}

.icon:hover{
  transform: scale(1.2);
}

.button{
  background-color: #673ab7 !important;
  height: 35px;
  
}

.buttonRedon{
  background-color: #cccccc5c;
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 40px;
  margin-left: 15px;
  opacity: 75%;
}

.buttonRedon:focus{
  outline: none;
}

.buttonRedon:hover{
  opacity: 80%;
  transform: scale(1.1);
}


