.icon {
  position: absolute;
  top: 40%;
  font-size: 40px;
  cursor: pointer;
  opacity: 75%;
}

.icon:hover{
    transform: scale(1.2);
    opacity: 80%;
}

.left {
  left: 8px;
}

.right {
  right: 8px;
}

.poster {
  position: relative;
}
